.inputSection {
    margin: 10px;
    height: 170px;
}

textarea {
    display: block;
    width: 300px;
    height: 150px;
}

#variationAmount {
    position: relative;
    bottom: 221.4px;
    left: 310px;
    /* height: 75px;
    width: 100px; */
}

.colors { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1px;
    justify-content: flex-start;
    width: fit-content;
}

.color {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 2em;
    text-align: center;
    color: white;
    font-weight: 700px;
    -webkit-text-stroke: 1px black;
}